In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

%matplotlib inline

data_path='data/'

In [5]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(data_path+'u.user', sep='|', names=u_cols,
                    encoding='latin-1', parse_dates=True) 

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(data_path+'u.data', sep='\t', names=r_cols,
                      encoding='latin-1')

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv(data_path+'u.item', sep='|', names=m_cols, usecols=range(5),
                     encoding='latin-1')

movie_ratings = pd.merge(movies, ratings)
df = pd.merge(movie_ratings, users)

df.drop(df.columns[[3,4,7]], axis=1, inplace=True)
ratings.drop( "unix_timestamp", inplace = True, axis = 1 ) 
movies.drop(movies.columns[[3,4]], inplace = True, axis = 1 )
ratings_matrix = ratings.pivot_table(index=['movie_id'],columns=['user_id'],values='rating').reset_index(drop=True)
ratings_matrix.fillna( 0, inplace = True )
ratings_matrix.head()

In [6]:
movie_similarity = 1 - pairwise_distances( ratings_matrix.as_matrix(), metric="cosine" ) #[‘cityblock’, ‘cosine’, ‘euclidean’, ‘l1’, ‘l2’, ‘manhattan’]
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done
ratings_matrix = pd.DataFrame( movie_similarity )

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
1,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# movies['title']

try:
    #user_inp=input('Enter the reference movie title based on which recommendations are to be made: ')
    user_inp="Speed (1994)"
    inp=movies[movies['title']==user_inp].index.tolist()
    index=inp[0]  
except:
    print("Sorry, the movie is not in the database!")

   movie_id             title release_date  similarity
0         1  Toy Story (1995)  01-Jan-1995         NaN
1         2  GoldenEye (1995)  01-Jan-1995         0.0

In [17]:
movies['similarity'] = ratings_matrix.iloc[index]
movies.columns = ['movie_id', 'title', 'release_date','similarity']

movies.sort_values( ["similarity"], ascending = False )[1:5]

     movie_id                        title release_date  similarity
705       706              Bad Moon (1996)  01-Nov-1996         5.0
314       315             Apt Pupil (1998)  23-Oct-1998         5.0
152       153  Fish Called Wanda, A (1988)  01-Jan-1988         5.0
330       331             Edge, The (1997)  26-Sep-1997         5.0

### Test Class Method

In [38]:
class Student: 
      
    # creating a variable 
    name = ""
      
    # creating a function 
    def print_name(obj): 
        print(type(obj))
        if obj.name=="":
            print("ADD NAME")
            obj.name="Hani"
        print("The name is : ", obj.name) 
          
# creating print_name classmethod 
# before creating this line print_name() 
# can be called only with object not with class 
Student.print_name2 = classmethod(Student.print_name) 
  
# now this method can be call as classmethod 
# print_name() method is called as class method 
Student.print_name2() 
Student.print_name2() 
x=Student()
x.print_name()



print("----------------")
class Student2: 
      
    # creating a variable 
    name = ""
      
    # creating a function 
    def print_name(obj): 
        if obj.name=="":
            print("ADD NAME")
            obj.name="Hani"
        print("The name is : ", obj.name) 
        
x=Student2()
x.print_name()

<class 'type'>
ADD NAME
The name is :  Hani
<class 'type'>
The name is :  Hani
<class '__main__.Student'>
The name is :  Hani
----------------
ADD NAME
The name is :  Hani

In [41]:
class Student: 
      
    # creating a variable 
    name = ""
      
    # creating a function 
    def print_name(obj): 
        print(type(obj))
        if obj.name=="":
            print("ADD NAME")
            obj.name="Hani"
        print("The name is : ", obj.name) 
Student.name="ALI"
x=Student()
x.print_name()

<class '__main__.Student'>
The name is :  ALI

### Test FLASK

In [62]:
from flask import Flask,jsonify
from flask import request
app = Flask(__name__)


@app.route('/', methods=['POST'])
def hello():
    print (type(request.data))
    org=request.json
    org["AD3"]= org["AD"]*3
    
    listdata= np.asarray(org["listdata"] )
    org["listdata2"]=str(2*listdata)
    return jsonify(org)

if __name__ == '__main__':
    app.run()
    
# curl --header "Content-Type: application/json" --request POST  --data '{"AV":"1","AD":2, "listdata":[1,2,3]}' http://127.0.0.1:5000/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [31/Dec/2019 10:41:12] "POST / HTTP/1.1" 200 -

<class 'bytes'>

In [96]:
from flask import Flask,jsonify
from flask import request
import flask
import io
import pandas as pd
app = Flask(__name__)


@app.route('/', methods=['POST'])
def hello():
    
    data = flask.request.data.decode('utf-8')
    s = io.StringIO(data)
    data2 = pd.read_csv(s, header=None).values[0]
    predictions=2*data2
    out = io.StringIO()
    pd.DataFrame({'results':predictions}).to_csv(out, header=False, index=False)
#     data2.to_csv(out, header=False, index=False)
    result = out.getvalue()
    return flask.Response(response=result, status=200, mimetype='text/csv')

if __name__ == '__main__':
    app.run()
    
# curl --header "Content-Type: text/csv" --data-binary @"/home/hani/del/test.txt" http://127.0.0.1:5000/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [31/Dec/2019 11:13:26] "POST / HTTP/1.1" 200 -

In [97]:
max(1,10)

10